.app-header {
  background-color: black;
  padding: 30px 0;
  color: white;
}
.app-header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  align-items: center;
}
.app-header-wrapper h1 {
  color: #f1de60;
  line-height: 60px;
  font-size: 3rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.app-header-wrapper p {
  margin-bottom: 20px;
}
p {
  margin-top: 20px;
}
.app-header-image {
  width: 100%;
  text-align: center;
}
.app-header-image img {
  width: 80%;
}
@media screen and (max-width: 850px) {
  .app-header-wrapper h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .app-header-wrapper {
    grid-template-columns: 100%;
  }
}
