:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  --gold_color: #d1b000;
}
html {
  background-color: black !important;
}
* {
  background-color: black;
  color: rgb(211, 204, 204);
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
  cursor: pointer;
}

li {
  list-style: none;
}
ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
